.navbar {
  height: 5rem;
  width: 100%;

  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 5;
  top: 0;
  background-color: #292929;
}

.logo {
  cursor: pointer;
  object-fit: contain;
  height: 6rem;
  width: 8rem;
  margin: 1rem;
}
.navLinks {
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
}
.navLinkItem {
  display: block;
  margin: 2rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 300;
}

.navLinkItem:hover {
  color: #7e74f1;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid #7e74f1;
}

.navContactMeImg {
  object-fit: cover;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.4rem;
}

.contactNavButton {
  background-color: #f8f8fe;
  color: #17152b;
  border: none;
  margin: 1rem;
  margin-right: 1.5rem;
  border-radius: 2rem;
  padding: 0.8rem 1.6rem;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
}

.contactNavButton:hover {
  background-color: #e3e0fc;
}

.contactNavButton:active {
  transform: scale(0.95);
  transition: 10ms;
}

.menu {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  height: 2rem;
  width: 2.25rem;
}

.menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #7e74f1;
  border-radius: 0.2rem;
}

@media (max-width: 850px) {
  .navLinkItem {
    margin: 1rem;
  }

  .navbar {
    width: 130vw;
  }
}

@media (max-width: 700px) {
  .menu {
    display: flex;
    margin-top: 2.3rem;
  }

  .open {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
  }

  .navbar {
    flex-direction: column;
    align-items: start;
    height: auto;
    width: 100%;
  }

  .navLinks {
    display: none;
  }

  .contactNavButton {
    display: none;
  }

  .navLinkItem {
    width: 100%;
    text-align: center;
    font-weight: 600;
  }
}
